In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [69]:
driver = webdriver.Chrome(r'C:\Users\welcome\Desktop\chromedriver_win32\chromedriver.exe')

In [70]:
url = 'https://www.naukri.com/'
driver.get(url)

In [71]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [72]:
search_job.send_keys("Data Analyst")

In [73]:
search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [74]:
search_loc.send_keys("Banglore")

In [75]:
search_button=driver.find_element_by_class_name("qsbSubmit")

In [76]:
search_button.click()

In [77]:
title_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tag)

20

In [78]:
job_titles =[]

for i in title_tag:
    job_titles.append(i.text)

In [79]:
jobtitle = job_titles[:10:]
jobtitle

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Senior Data Analyst - Data Modeling/Database Design',
 'Data analyst',
 'Data Analyst',
 'Senior Data Analyst - Collibra',
 'Consultant - Data Analyst',
 'Data Analyst - Python/SQL',
 'Data Analyst - IT',
 'Lead CLR Data Analyst',
 'Data Analyst']

In [80]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [81]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

company = company_name[:10:]
company

['Flipkart',
 'K & R Enterprises',
 'GSK India',
 'Aldius Consulting Services Pvt Ltd (Paramantra)',
 'Shell',
 'Flipkart',
 'Affine',
 'Yespired',
 'Target',
 'National Entrepreneurship']

In [82]:
exp = driver.find_elements_by_xpath('//span[contains(@title,"Yrs")]')
len(exp)

20

In [83]:
experince=[]
for i in exp:
    experince.append(i.text)

In [84]:
exp = experince[:10:]
exp

['1-6 Yrs',
 '4-6 Yrs',
 '5-9 Yrs',
 '0-2 Yrs',
 '8-12 Yrs',
 '1-3 Yrs',
 '3-5 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '3-7 Yrs']

In [85]:
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc)

20

In [86]:
location=[]
for i in loc:
    location.append(i.text)
loc = location[:10:]
loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Pune, Bangalore/Bengaluru']

In [87]:
jobs = pd.DataFrame()
jobs['Job Title']= jobtitle
jobs['Location']= loc
jobs['Company Name']= company
jobs['Experince']= exp

In [88]:
jobs

,Job Title,Location,Company Name,Experince
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
1,Senior Data Analyst - Data Modeling/Database D...,Bangalore/Bengaluru,K & R Enterprises,4-6 Yrs
2,Data analyst,Bangalore/Bengaluru,GSK India,5-9 Yrs
3,Data Analyst,Bangalore/Bengaluru,Aldius Consulting Services Pvt Ltd (Paramantra),0-2 Yrs
4,Senior Data Analyst - Collibra,Bangalore/Bengaluru,Shell,8-12 Yrs
5,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart,1-3 Yrs
6,Data Analyst - Python/SQL,Bangalore/Bengaluru,Affine,3-5 Yrs
7,Data Analyst - IT,Bangalore/Bengaluru,Yespired,3-8 Yrs
8,Lead CLR Data Analyst,Bangalore/Bengaluru,Target,7-12 Yrs
9,Data Analyst,"Mumbai, Pune, Bangalore/Bengaluru",National Entrepreneurship,3-7 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [21]:
driver = webdriver.Chrome(r'C:\Users\welcome\Desktop\chromedriver_win32\chromedriver.exe')

In [22]:
url = 'https://www.naukri.com/'
driver.get(url)

In [23]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [24]:
search_job.send_keys("Data Scientist")

In [25]:
search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [26]:
search_loc.send_keys("Banglore")

In [27]:
search_button=driver.find_element_by_class_name("qsbSubmit")

In [28]:
search_button.click()

In [29]:
title_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tag)

20

In [30]:
job_titles =[]

for i in title_tag:
    job_titles.append(i.text)

In [31]:
jobtitle = job_titles[:10:]
jobtitle

['Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Louis Dreyfus Company Looking For Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist/Data Scientist',
 'Senior Data Scientist - Research',
 'Senior Data Scientist (Marketplace)',
 'Senior Data Scientist',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Lead Data Scientist - Machine Learning/ Data Mining']

In [32]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [33]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

company = company_name[:10:]
company

['Dell',
 'Louis Dreyfus Commodities',
 'IBM',
 'IBM',
 'Tredence Analytics Solutions Private Limited',
 'Gojek',
 'Walmart',
 'Walmart',
 'Wipro',
 'Wrackle Technologies Pvt Ltd']

In [34]:
exp = driver.find_elements_by_xpath('//span[contains(@title,"Yrs")]')
len(exp)

20

In [35]:
experince=[]
for i in exp:
    experince.append(i.text)

In [36]:
exp = experince[:10:]
exp

['3-5 Yrs',
 '0-2 Yrs',
 '12-15 Yrs',
 '12-15 Yrs',
 '2-7 Yrs',
 '5-11 Yrs',
 '4-8 Yrs',
 '5-9 Yrs',
 '5-10 Yrs',
 '6-11 Yrs']

In [37]:
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc)

20

In [38]:
location=[]
for i in loc:
    location.append(i.text)
loc = location[:10:]

In [39]:
loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [40]:
jobs = pd.DataFrame()
jobs['Job Title']= jobtitle
jobs['Location']= loc
jobs['Company Name']= company
jobs['Experince']= exp

In [41]:
jobs

,Job Title,Location,Company Name,Experince
0,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell,3-5 Yrs
1,Louis Dreyfus Company Looking For Data Scientist,Bangalore/Bengaluru,Louis Dreyfus Commodities,0-2 Yrs
2,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,12-15 Yrs
3,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,12-15 Yrs
4,Senior Data Scientist/Data Scientist,"Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru",Tredence Analytics Solutions Private Limited,2-7 Yrs
5,Senior Data Scientist - Research,Bangalore/Bengaluru,Gojek,5-11 Yrs
6,Senior Data Scientist (Marketplace),Bangalore/Bengaluru,Walmart,4-8 Yrs
7,Senior Data Scientist,Bangalore/Bengaluru,Walmart,5-9 Yrs
8,Data Scientist - Lead / Architect - Looking Fo...,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Wipro,5-10 Yrs
9,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,6-11 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [97]:
driver = webdriver.Chrome(r'C:\Users\welcome\Desktop\chromedriver_win32\chromedriver.exe')

In [98]:
url = 'https://www.naukri.com/'
driver.get(url)

In [99]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [100]:
search_job.send_keys("Data Scientist")

In [101]:
search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [102]:
search_loc.send_keys("Delhi/NCR")

In [103]:
search_button=driver.find_element_by_class_name("qsbSubmit")

In [104]:
search_button.click()

In [105]:
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')

In [106]:
salary_filter.click()

In [107]:
title_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tag)

20

In [108]:
job_titles =[]

for i in title_tag:
    job_titles.append(i.text)

In [109]:
jobtitle = job_titles[:10:]
jobtitle

['Data Scientist | A Fintech Organisation',
 'Data Scientist-Onsite and offshore',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist II',
 'Opening For Data Scientist',
 'Data & Applied Scientist',
 'Data and applied Scientist',
 'Data Scientist',
 'Urgent Requirement || Data Scientist || Noida']

In [110]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [111]:
company_name=[]
for i in company_tags:
    company_name.append(i.text)

company = company_name[:10:]
company

['Vision Beyond Resources India Private Limited',
 'PROKXIMITY',
 'CHANGE LEADERS CONSULTING',
 'DECISION POINT PRIVATE LIMITED',
 'Chegg',
 'Care Health Insurance',
 'Microsoft',
 'Microsoft',
 'Cloudstrats Technologies Private Limited',
 'HCL']

In [112]:
exp = driver.find_elements_by_xpath('//span[contains(@title,"Yrs")]')
len(exp)

20

In [113]:
experince=[]
for i in exp:
    experince.append(i.text)
exp = experince[:10:]
exp

['2-7 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '1-6 Yrs',
 '2-6 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '3-8 Yrs']

In [114]:
loc = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc)

20

In [115]:
location=[]
for i in loc:
    location.append(i.text)
loc = location[:10:]
loc

['Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi',
 'Gurgaon/Gurugram, Chennai\n(WFH during Covid)',
 'Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'New Delhi, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Delhi / NCR']

In [116]:
jobs = pd.DataFrame()
jobs['Job Title']= jobtitle
jobs['Location']= loc
jobs['Company Name']= company
jobs['Experince']= exp
jobs

,Job Title,Location,Company Name,Experince
0,Data Scientist | A Fintech Organisation,Gurgaon/Gurugram,Vision Beyond Resources India Private Limited,2-7 Yrs
1,Data Scientist-Onsite and offshore,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",PROKXIMITY,3-8 Yrs
2,Data Scientist,New Delhi,CHANGE LEADERS CONSULTING,3-8 Yrs
3,Data Scientist,"Gurgaon/Gurugram, Chennai\n(WFH during Covid)",DECISION POINT PRIVATE LIMITED,1-6 Yrs
4,Data Scientist II,Delhi / NCR,Chegg,2-6 Yrs
5,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
6,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
7,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
8,Data Scientist,"New Delhi, Delhi / NCR, Mumbai (All Areas)",Cloudstrats Technologies Private Limited,3-5 Yrs
9,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL,3-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [2]:
driver = webdriver.Chrome(r'C:\Users\welcome\Desktop\chromedriver_win32\chromedriver.exe')

In [3]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [4]:
prod_search = driver.find_element_by_class_name("_3704LK")
prod_search

In [5]:
prod_search.send_keys("sunglasses")

In [6]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button

In [7]:
search_button.click()

In [8]:
brand_nam_1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_nam_1)

40

In [9]:
brand_1=[]
for i in brand_nam_1:
    brand_1.append(i.text)
brand_1

['Fastrack',
 'Elligator',
 'SRPM',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'New Specs',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'SUNBEE',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Johaena',
 'PHENOMENAL',
 'Elligator',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'Elligator',
 'SUNBEE',
 'agera',
 'PIRASO',
 'maxa',
 'GANSTA',
 'Elligator',
 'Lee Topper',
 'New Specs',
 'kingsunglasses',
 'GANSTA',
 'Rich Club',
 'PIRASO',
 'Elligator',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'PHENOMENAL',
 'Rich Club',
 'Johaena',
 'SRPM']

In [10]:
des_1 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(des_1)

40

In [11]:
descrip_1=[]
for i in des_1:
    descrip_1.append(i.text)
descrip_1

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Round Sunglasses (54)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (48)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (53)']

In [12]:
prc_1 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(prc_1)

40

In [13]:
price_1=[]
for i in prc_1:
    price_1.append(i.text.replace('₹',''))
price_1

['721',
 '248',
 '188',
 '243',
 '165',
 '234',
 '181',
 '229',
 '271',
 '178',
 '499',
 '607',
 '146',
 '309',
 '265',
 '269',
 '399',
 '299',
 '189',
 '235',
 '196',
 '200',
 '144',
 '209',
 '230',
 '199',
 '259',
 '180',
 '269',
 '165',
 '200',
 '167',
 '626',
 '291',
 '349',
 '718',
 '289',
 '220',
 '156',
 '207']

In [14]:
nxt_button=driver.find_element_by_class_name("_1LKTO3")
nxt_button

In [15]:
nxt_button.click()

In [16]:
brand_nam_2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_2=[]
for i in brand_nam_2:
    brand_2.append(i.text)
brand_2

['SRPM',
 'PHENOMENAL',
 'Lee Topper',
 'DEIXELS',
 'PHENOMENAL',
 'kingsunglasses',
 'New Specs',
 'Singco India',
 'ROYAL SON',
 'PIRASO',
 'kingsunglasses',
 'Elligator',
 'ROZZETTA CRAFT',
 'hipe',
 'SRPM',
 'kingsunglasses',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'PHENOMENAL',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'Badfella',
 'Fastrack',
 'ROYAL SON',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Singco India',
 'Silver Kartz',
 'Fastrack',
 'Lee Topper',
 'Mi',
 'kingsunglasses',
 'Rich Club',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'Silver Kartz']

In [17]:
des_2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
descrip_2=[]
for i in des_2:
    descrip_2.append(i.text)
descrip_2

['UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Aviator Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'UV Protection Butterfly Sunglasses (65)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized Round Sunglasses (48)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (88)']

In [18]:
prc_2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_2=[]
for i in prc_2:
    price_2.append(i.text.replace('₹',''))
price_2

['207',
 '299',
 '276',
 '202',
 '289',
 '174',
 '232',
 '229',
 '359',
 '299',
 '229',
 '263',
 '499',
 '189',
 '199',
 '249',
 '607',
 '664',
 '349',
 '607',
 '157',
 '289',
 '692',
 '267',
 '199',
 '639',
 '449',
 '274',
 '649',
 '664',
 '284',
 '769',
 '375',
 '1,139',
 '177',
 '152',
 '209',
 '360',
 '199',
 '255']

In [23]:
nxt_button_2=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
nxt_button_2

In [24]:
nxt_button.click()

In [43]:
brand_nam_3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_3=[]
for i in brand_nam_3:
    brand_3.append(i.text)
brand_3

['PIRASO',
 'Rich Club',
 'Mi',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'GANSTA',
 'Singco India',
 'kingsunglasses',
 'PHENOMENAL',
 'Silver Kartz',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'style guru',
 'IDEE',
 'Elligator',
 'Mi',
 'ROZZETTA CRAFT',
 'PIRASO',
 'GANSTA',
 'WROGN',
 'Lee Topper',
 'kingsunglasses',
 'Fastrack',
 'GANSTA',
 'IDEE',
 'Rich Club',
 'IDEE',
 'PIRASO',
 'elegante',
 'kingsunglasses',
 'Rich Club',
 'IDEE',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'Lee Topper',
 'Fravy',
 'Fastrack']

In [44]:
des_3 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
descrip_3=[]
for i in des_3:
    descrip_3.append(i.text)
descrip_3

['UV Protection Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (49)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection, Gradient Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (59)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'UV Protection Cat-eye Sunglasses (17)',
 'UV Protection, Others Round Sunglasses (48)',
 'Mirrored, UV Protection Wayfarer Sunglasses (18)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized Oval Sunglasses (48)',
 'Mirrored, UV Protection Aviator Sunglasses (18)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection Wayfarer Sunglasses (55)']

In [45]:
prc_3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_3=[]
for i in prc_3:
    price_3.append(i.text.replace('₹',''))
price_3

['250',
 '175',
 '949',
 '607',
 '449',
 '489',
 '314',
 '334',
 '229',
 '299',
 '246',
 '249',
 '349',
 '309',
 '996',
 '305',
 '1,199',
 '449',
 '349',
 '224',
 '719',
 '281',
 '279',
 '711',
 '199',
 '1,249',
 '220',
 '1,139',
 '299',
 '399',
 '235',
 '175',
 '1,339',
 '299',
 '200',
 '299',
 '569',
 '299',
 '245',
 '623']

In [46]:
brand = brand_1+brand_2+brand_3
brand = brand[:100:]
brand

['Fastrack',
 'Elligator',
 'SRPM',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'New Specs',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'SUNBEE',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Johaena',
 'PHENOMENAL',
 'Elligator',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'Elligator',
 'SUNBEE',
 'agera',
 'PIRASO',
 'maxa',
 'GANSTA',
 'Elligator',
 'Lee Topper',
 'New Specs',
 'kingsunglasses',
 'GANSTA',
 'Rich Club',
 'PIRASO',
 'Elligator',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'PHENOMENAL',
 'Rich Club',
 'Johaena',
 'SRPM',
 'SRPM',
 'PHENOMENAL',
 'Lee Topper',
 'DEIXELS',
 'PHENOMENAL',
 'kingsunglasses',
 'New Specs',
 'Singco India',
 'ROYAL SON',
 'PIRASO',
 'kingsunglasses',
 'Elligator',
 'ROZZETTA CRAFT',
 'hipe',
 'SRPM',
 'kingsunglasses',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'PHENOMENAL',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'Badfella',
 'Fastrack',
 'ROYAL SON',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Singco India',
 'Silver Kartz',
 'Fastrack',
 'Lee Topper',
 'Mi',
 'kingsunglasses',
 'Rich Club',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'Silver Kartz',
 'PIRASO',
 'Rich Club',
 'Mi',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'GANSTA',
 'Singco India',
 'kingsunglasses',
 'PHENOMENAL',
 'Silver Kartz',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'style guru',
 'IDEE',
 'Elligator',
 'Mi',
 'ROZZETTA CRAFT',
 'PIRASO',
 'GANSTA']

In [47]:
len(brand)

100

In [48]:
description = descrip_1 + descrip_2 + descrip_3
description=description[:100:]
description

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Round Sunglasses (54)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (48)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Aviator Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'UV Protection Butterfly Sunglasses (65)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized Round Sunglasses (48)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (88)',
 'UV Protection Aviator Sunglasses (55)',
 'Polarized Round Sunglasses (49)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection, Gradient Aviator Sunglasses (57)']

In [49]:
len(description)

100

In [50]:
price= price_1 + price_2 + price_3
price = price[:100:]
price

['721',
 '248',
 '188',
 '243',
 '165',
 '234',
 '181',
 '229',
 '271',
 '178',
 '499',
 '607',
 '146',
 '309',
 '265',
 '269',
 '399',
 '299',
 '189',
 '235',
 '196',
 '200',
 '144',
 '209',
 '230',
 '199',
 '259',
 '180',
 '269',
 '165',
 '200',
 '167',
 '626',
 '291',
 '349',
 '718',
 '289',
 '220',
 '156',
 '207',
 '207',
 '299',
 '276',
 '202',
 '289',
 '174',
 '232',
 '229',
 '359',
 '299',
 '229',
 '263',
 '499',
 '189',
 '199',
 '249',
 '607',
 '664',
 '349',
 '607',
 '157',
 '289',
 '692',
 '267',
 '199',
 '639',
 '449',
 '274',
 '649',
 '664',
 '284',
 '769',
 '375',
 '1,139',
 '177',
 '152',
 '209',
 '360',
 '199',
 '255',
 '250',
 '175',
 '949',
 '607',
 '449',
 '489',
 '314',
 '334',
 '229',
 '299',
 '246',
 '249',
 '349',
 '309',
 '996',
 '305',
 '1,199',
 '449',
 '349',
 '224']

In [51]:
len(price)

100

In [52]:
df = pd.DataFrame()
df['Brand']= brand
df['Description'] = description
df['Price'] = price
df

,Brand,Description,Price
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),721
1,Elligator,UV Protection Round Sunglasses (54),248
2,SRPM,UV Protection Wayfarer Sunglasses (50),188
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",243
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",165
...,...,...,...
95,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",305
96,Mi,Polarized Aviator Sunglasses (Free Size),"1,199"
97,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),449
98,PIRASO,UV Protection Butterfly Sunglasses (60),349
99,GANSTA,"UV Protection, Gradient Aviator Sunglasses (57)",224

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually

In [4]:
driver = webdriver.Chrome(r'C:\Users\welcome\Desktop\chromedriver_win32\chromedriver.exe')

In [5]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [6]:
all_rev = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]//span')
all_rev.click()

In [7]:
Product = {}

Product['Rating'] = []
Product['Summary'] = []
Product['Full_Review'] = []

Product

{'Rating': [], 'Summary': [], 'Full_Review': []}

In [8]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [9]:
r1 = []
for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [10]:
Product['Rating']

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [11]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

10 10 10

In [13]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
next.click()

In [14]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [15]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [16]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

20 20 20

In [18]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [19]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [20]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [21]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

30 30 30

In [22]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [23]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [24]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [25]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

40 40 40

In [26]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [27]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [28]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [29]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

50 50 50

In [30]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [31]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [32]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [33]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

60 60 60

In [34]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [35]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [36]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [37]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

70 70 70

In [38]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [39]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [40]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [41]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

80 80 80

In [42]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [43]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [44]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [45]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

90 90 90

In [46]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
next.click()

In [47]:
rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

In [48]:
r1 = []

for i in range(0,len(rating)):
    r1.append(rating[i].text)
for j in range(0,len(r1)):
    Product['Rating'].append(r1[j][0])
    
for i in summary:
    Product['Summary'].append(i.text)

for i in review:
    Product['Full_Review'].append(i.text.replace('\n',''))

In [49]:
print(len(Product['Summary']),
len(Product['Rating']),
len(Product['Full_Review']))

100 100 100

In [50]:
Product = pd.DataFrame(Product)
Product

,Rating,Summary,Full_Review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Highly recommended,"Amazing camera quality as expected, battery al..."
96,5,Must buy!,Dear friends... I want to share my experience ...
97,5,Must buy!,Camera is excellent just lack of telephoto mod...
98,5,Excellent,It was amazing experience for me. Honestly i a...
99,5,Just wow!,"Not mere a phone , Its more than that for fun ..."

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.

You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

Note: All the steps required during scraping should be done through code only and not manually.

In [51]:
driver = webdriver.Chrome(r'C:\Users\welcome\Desktop\chromedriver_win32\chromedriver.exe')

In [52]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [54]:
search_product8 = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_product8.send_keys('sneakers')
search_btn8 = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn8.click()

In [66]:

for j in range(100):
    brand8 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
Brand1 = []
for i in brand8:
    Brand1.append(i.text)

desc8 = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
description1 = []
for i in range(0,len(desc8),2):
    description1.append(desc8[i].text)
description1

price = driver.find_elements_by_xpath('//div[@class="_25b18c"]//div[1]')
price1 = []
for i in price:
    price1.append(i.text)
price1 = price1[:40]
    
    
   
    # going on next page

In [56]:
next_page1 = driver.find_element_by_xpath('//a[@class="ge-49M"]')
next_page1.click()

In [68]:
for j in range(100):
    brand8 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
Brand2 = []
for i in brand8:
    Brand2.append(i.text)

desc8 = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
description2 = []
for i in range(0,len(desc8),2):
    description2.append(desc8[i].text)
description2

price = driver.find_elements_by_xpath('//div[@class="_25b18c"]//div[1]')
price2 = []
for i in price:
    price2.append(i.text)
price2 = price2[:40]

In [73]:
next_page2 = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
next_page2.click()

In [74]:
for j in range(100):
    brand8 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
Brand3 = []
for i in range(0,20):
    Brand3.append(brand8[i].text)

desc8 = driver.find_elements_by_xpath('//div[@class="_2B099V"]//a')
description3 = []
for i in range(0,len(desc8),2):
    description3.append(desc8[i].text)
description3 = description3[:20]

price = driver.find_elements_by_xpath('//div[@class="_25b18c"]//div[1]')
price3 = []
for i in price:
    price3.append(i.text)
price3 = price3[:20]

In [78]:
Flipkart_Sneakers = pd.DataFrame()

Flipkart_Sneakers['Brand'] = Brand1 + Brand2 + Brand3
Flipkart_Sneakers['Description'] = description1 + description2 + description3
Flipkart_Sneakers['Price'] = price1 + price2 + price3
    
Flipkart_Sneakers

,Brand,Description,Price
0,Robbie jones,Sneakers For Men,₹449
1,CLYMB,"Perfect Sports Shoes for Men's Running ,Cyclin...",₹199
2,World Wear Footwear,Latest Collection-1227 Stylish Casual Sports S...,₹209
3,BRUTON,Combo Pack Of 3 Latest Casual Shoes Sneakers F...,₹397
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹139
...,...,...,...
95,India hub,Luxury Fashionable casual sneaker shoes Sneake...,₹379
96,T-ROCK,Stylish White Casual Sneakers shoes Men and Bo...,₹349
97,BIRDE,Combo Pack of 4 Casual Shoes Sneakers For Men,₹528
98,SPARX,Casual Sneakers Sneakers For Men,"₹1,042"
99,AERAMBOL,Men's Stylish Sports & Casual Shoes For Men Sn...,₹210

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [79]:
driver = webdriver.Chrome(r'C:\Users\welcome\Desktop\chromedriver_win32\chromedriver.exe')

In [80]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [81]:
price_filt = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filt.click()

In [82]:
color_filt = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filt.click()

In [83]:
price_filt = driver.find_element_by_xpath('//ul[@class="price-list"]//li[2]')
price_filt.click()

In [84]:
Shoe_Brand = {}
Shoe_Brand['Brand'] = []
Shoe_Brand['Short_Description'] = []
Shoe_Brand['Price'] = []

In [85]:
brd1 = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3')
for i in brd1:
    Shoe_Brand['Brand'].append(i.text)
len(Shoe_Brand['Brand'])
    
    
brd_d1 = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h4[1]')
for i in brd_d1:
    Shoe_Brand['Short_Description'].append(i.text)
len(Shoe_Brand['Short_Description'])

50

In [86]:
brd_p1 = driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')
p = []
for i in brd_p1:
    p.append(i.text.replace('Rs.',' '))
for j in range(0,len(p)):
    Shoe_Brand['Price'].append(p[j][:7])

In [87]:
Shoe_Brand['Price']

['  7995',
 '  7495',
 '  10995',
 '  7999',
 '  12999',
 '  12999',
 '  7799 ',
 '  10499',
 '  7999',
 '  7999',
 '  7224 ',
 '  7799 ',
 '  8999',
 '  9999',
 '  7999',
 '  8999',
 '  8990',
 '  7999',
 '  7599',
 '  9999',
 '  7999',
 '  7149 ',
 '  7699',
 '  7999',
 '  7199 ',
 '  7149 ',
 '  7999',
 '  7739 ',
 '  7999',
 '  9265 ',
 '  13990',
 '  10990',
 '  10500',
 '  7999',
 '  8499',
 '  8399 ',
 '  9999',
 '  7999 ',
 '  8990',
 '  12325',
 '  7219 ',
 '  11473',
 '  7999',
 '  7990',
 '  11470',
 '  8925 ',
 '  7565 ',
 '  7199 ',
 '  12999',
 '  12999']

In [88]:
len(Shoe_Brand['Price'])

50

In [89]:
Next_Page = driver.find_element_by_xpath('//li[@class="pagination-next"]')
Next_Page.click()

In [90]:
brd2 = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3')
for i in brd2:
    Shoe_Brand['Brand'].append(i.text)
len(Shoe_Brand['Brand'])
brd_d2 = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h4[1]')
for i in brd_d2:
    Shoe_Brand['Short_Description'].append(i.text)
len(Shoe_Brand['Short_Description'])

100

In [91]:
brd_p2 = driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')
p2 = []
for i in brd_p2:
    p2.append(i.text.replace('Rs.',' '))
for j in range(0,len(p2)):
    Shoe_Brand['Price'].append(p2[j][:7])

In [92]:
print(len(Shoe_Brand['Brand']),len(Shoe_Brand['Short_Description']),len(Shoe_Brand['Price']))

100 100 100

In [93]:
Shoe_Brand = pd.DataFrame(Shoe_Brand)
Shoe_Brand

             Brand               Short_Description    Price
0             Nike      Men Winflo 7 Running Shoes     7995
1             Nike  Men Blazer Court Skateboarding     7495
2             Nike       Men Air Max Dawn Sneakers    10995
3   Tommy Hilfiger            Men Leather Sneakers     7999
4             Puma   Men Jamming 2.0 Running Shoes    12999
..             ...                             ...      ...
95         Saint G      Women Leather Heeled Boots    11815
96  Pavers England             Men Printed Loafers    11999
97            ALDO              Leather Slim Heels    8399
98            Geox        Leather Platform Sandals     9999
99            Geox    Men Striped Leather Sneakers     9990

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [94]:
driver = webdriver.Chrome(r'C:\Users\welcome\Desktop\chromedriver_win32\chromedriver.exe')

In [95]:
url = 'https://www.amazon.in/'
driver.get(url)

In [96]:
search_laptop = driver.find_element_by_id('twotabsearchtextbox')
search_laptop.send_keys('Laptop')

In [97]:
search_btn10 = driver.find_element_by_id('nav-search-submit-button')
search_btn10.click()

In [99]:
filter1 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[3]/li[13]/span/a/div/label/i')
filter1.click()

In [121]:
Laptop = {}
Laptop['Title'] = []
Laptop['Price'] = []

In [122]:
title = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title:
    Laptop['Title'].append(i.text)
Laptop['Title'] = Laptop['Title'][:10]

In [123]:
laptop_price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in laptop_price:
    Laptop['Price'].append(i.text)
Laptop['Price'] = Laptop['Price'][:10]

In [124]:
Amazon_Laptop = pd.DataFrame(Laptop)
Amazon_Laptop

                                               Title   Price
0  Mi Notebook Ultra 3.2K resolution display Inte...  77,490
1  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  92,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  59,990
3  HP Pavilion x360 11th Gen Intel Core i7 14 inc...  86,490
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,990
5  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  96,990
6  Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...  81,990
7  Acer Nitro 5 11th Gen Intel Core i5-11400H 15....  65,990
8  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  92,999
9  LG Gram Intel Evo 11th Gen Core i7 17 inches U...  99,499